<?php
	$areaName = '';
	switch ($area) {
		case 'tokyo':
			$areaName = '東京都';
			break;
		case 'kanagawa':
			$areaName = '神奈川県';
			break;
		case 'chiba':
			$areaName = '千葉県';
			break;
		case 'saitama':
			$areaName = '埼玉県';
			break;
		case 'all':
			$areaName = '全物件';
			break;
	}
?>
<div class="belt">
	<div class="bread-list">
		<?php echo $this->Html->link('TOP', array('controller'=>'', 'action'=>'index')); ?>
		&nbsp;&gt;&nbsp;新築分譲マンション&nbsp;物件検索&nbsp;&gt;&nbsp;
		<?php echo $areaName; ?>
	</div>
	<div class="main-visual">メインビジュアル</div>
</div>
<div class="box clearfix">
	<?php echo $this->element('menu'); ?>
	<div class="content">
		<?php for($i=0; $i<20; $i++): ?>
			ここから<?php echo $areaName; ?>ページのコンテンツです。<br />
		<?php endfor; ?>
	</div>
</div>
