<div class="belt">
	<div class="bread-list">パンくずリスト</div>
	<div class="main-visual">メインビジュアル</div>
</div>
<div class="box clearfix">
	<?php echo $this->element('menu'); ?>
	<div class="content">
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
		ここから東京ページのコンテンツです。<br />
	</div>
</div>
