<?php
//cssタグ挿入
	$this->start('custom-less');
	$less=array(
		'../less/custom/contents/concept/concept.less'
	);
	echo $this->Less->link($less, array('minify'=>true, 'combine'=>true));
	$this->end();

	$this->start('custom-script');
	$script = array(
		'../../cake-js/self/contents/concept/concept.js'
	);
	for ($i=0,$len=count($script); $i<$len; $i++) {
		echo '<script type="text/javascript" src="' . $script[$i] . '"></script>';
	}
	$this->end();
 ?>


<div class="content">
	<div class="bread-list">
		<?php echo $this->Html->link('TOP', array('controller'=>'', 'action'=>'index')); ?>
		&nbsp;&gt;&nbsp;コンセプト
	</div>
	<div class="main-visual"><?php echo 'めいんびじゅある'; ?></div>

	<div class="intro"></div>
	<div class="key-img"></div>
	<div class="blockMenu clearfix">
<?php
	function renderBlocks($arr_url) {

		for ($i=0; $i<count($arr_url); $i++){
			if($arr_url[$i] == false){
				echo '<div class="float blockMenu_'.$i.'">';
			} else {
				echo '<div class="float blockMenu_'.$i.'">';
				echo '<a href="'.$arr_url[$i].'"></a>';
			};
			echo '</div>';
		};
	};
	$arr_url1	= array(
						0 => '#',
						1 => '#',
						2 => '#',
						3 => '#'
					);
	renderBlocks($arr_url1);
?>
	</div>
	<ul class="details">
		<li class="detail naturally">
			<div class="detailTitle"></div>
			<div class="detailContents clearfix">
				<div class="n_img float"></div>
				<div class="n_txt float">
					<div class="n_keyTxt"></div>
					<p class="n_explain">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
				</div>
			</div>
		</li>
		<li class="detail partner">
			<div class="detailTitle"></div>
			<div class="detailContents">
				<ul>
					<li class="p_img">
						<div class="p_img1"></div>
						<div class="p_img2"></div>
					</li>
					<li class="p_txt clearfix">
						<div class="p_explain float">
							<p></p>
						</div>
						<div class="p_img3 float"></div>
					</li>
				</ul>
			</div>
		</li>
		<li class="detail safety">
			<div class="detailTitle"></div>
			<div class="detailContents">
				<div class="s_top clearfix">
					<div class="s_txt float">
						<div class="s_keyTxt"></div>
						<p class="s_explain"></p>
					</div>
					<div class="s_img float"></div>
				</div>
				<ul class="clearfix">
					<li class="float">
						<div class="s_liTitle"></div>
						<div class="s_liContents">
							<p class="s_liExplain"></p>
							<div class="s_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="s_liTitle"></div>
						<div class="s_liContents">
							<p class="s_liExplain"></p>
							<div class="s_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="s_liTitle"></div>
						<div class="s_liContents">
							<p class="s_liExplain"></p>
							<div class="s_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="s_liTitle"></div>
						<div class="s_liContents">
							<p class="s_liExplain"></p>
							<div class="s_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="s_liTitle"></div>
						<div class="s_liContents">
							<p class="s_liExplain"></p>
							<div class="s_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="s_liTitle"></div>
						<div class="s_liContents">
							<p class="s_liExplain"></p>
							<div class="s_liImg"></div>
						</div>
					</li>
				</ul>
				<div class="s_last">
					<div class="s_lastTitle"></div>
					<p class="s_lastExplain"></p>
				</div>
			</div>
		</li>
		<li class="detail comfort">
			<div class="detailTitle"></div>
			<div class="detailContents">
				<div class="c_top clearfix">
					<div class="c_img float"></div>
					<div class="c_txt float">
						<div class="c_keyTxt"></div>
						<p class="c_explain"></p>
					</div>
				</div>
				<ul class="clearfix">
					<li class="float">
						<div class="c_liTitle"></div>
						<div class="c_liContents">
							<p class="c_liExplain"></p>
							<div class="c_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="c_liTitle"></div>
						<div class="c_liContents">
							<p class="c_liExplain"></p>
							<div class="c_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="c_liTitle"></div>
						<div class="c_liContents">
							<p class="c_liExplain"></p>
							<div class="c_liImg"></div>
						</div>
					</li>
					<li class="float">
						<div class="c_liTitle"></div>
						<div class="c_liContents">
							<p class="c_liExplain"></p>
							<div class="c_liImg"></div>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>