@charset "utf-8";



/* clearfix
---------------------------------*/
.clearfix:after {/*for modern browser*/
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1; /*for IE 5.5-7*/
	display: inline-block;
}

/* exlude MacIE 5 \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* end MacIE5 */

html {
	position: relative;
	height: 100%;
	font-size: 70%;
}
body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	height: 100%;
	background: #FEFEFE;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}








body {
	background: url(../img/elements/bg/bg.gif) repeat;

	>.container {

		>.content-wrapper {
			width: 100%;
			position: relative;
			margin: 15px auto;

			>.belt {
				background: #ffaaaa;

				.bread-list {
					width: 980px;
					height: 38px;
					margin: 0 auto;
					text-align: right;
				}

				.main-visual {
					height: 117px;
					background: red;
					margin: 0 auto;
					text-align: center;
				}
			}

			>.box {
				position: relative;
				width: 980px;
				margin: 0 auto;
				background: rgba(100, 255, 100, 0.5);

				.menu {
					float: left;
					position: relative;
					top: -155px;
				}

				.content {
					float: right;
					width: 798px;
					background: #aaaaff;
				}
			}
		}
	}
}


body#indexInIndex {

	>.container {

		>.content-wrapper {
			width: 980px;
			margin: 15px auto;

			.menu {
				float: left;
			}
		}
	}
}