@charset "utf-8";



/* clearfix
---------------------------------*/
.clearfix:after {/*for modern browser*/
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1; /*for IE 5.5-7*/
	display: inline-block;
}

/* exlude MacIE 5 \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* end MacIE5 */

html {
	position: relative;
	height: 100%;
	font-size: 70%;
}
body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	height: 100%;
	background: #FEFEFE;
	margin: 0;
	padding: 0;
	min-width: 980px;
}

ul {
	list-style: none;
}








body {
	background: url(../cake-img/elements/bg/bg.gif) repeat;
}


body {

	>.container {

		>.content-wrapper {
			width: 980px;
			margin: 15px auto;
			position: relative;
			*zoom: 1;

			&:after {
				display: block;
				clear: both;
				height: 0.01px;
				content: '';
			}
		}
	}
}
