<?php 
	$this->start('custom-less');
	$less=array('../less/custom/contents/top/top.less');
	echo $this->Less->link($less, array('minify'=>true, 'combine'=>true));
	$this->end();
 ?>

<!-- #ci_entire>#ci_blockSpace>#ci_main.cc_contentGroup>#ci_mapDiv.cc_4box(>#ci_map>.cc_maplink*4)+#ci_topVisuale.cc_4box^#ci_topBlockMenu.cc_contentGroup>.cc_1box*4^#ci_info.cc_contentGroup+#ci_recommend.cc_contentGroup>#ci_recTxt+#ci_residence{ここにphp}^#ci_bottomBlockMenu.cc_contentGroup>.cc_1box*8^#ci_columns.cc_contentGroup>#ci_brushUpLife{ここにelement}+#ci_desirableTown{ここにelement} -->
<div id="ci_entire">
	<div id="ci_blockSpace">
		<div id="ci_main" class="cc_contentGroup">
			<div id="ci_mapDiv" class="cc_4box">
				<div id="ci_map">
					<div class="cc_maplink"></div>
					<div class="cc_maplink"></div>
					<div class="cc_maplink"></div>
					<div class="cc_maplink"></div>
				</div>
			</div>
			<div id="ci_topVisuale" class="cc_4box"></div>
		</div>
		<div id="ci_topBlockMenu" class="cc_contentGroup">
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
		</div>
		<div id="ci_info" class="cc_contentGroup"></div>
		<div id="ci_recommend" class="cc_contentGroup">
			<div id="ci_recTxt"></div>
			<div id="ci_residence">ここにphp</div>
		</div>
		<div id="ci_bottomBlockMenu" class="cc_contentGroup">
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
		</div>
		<div id="ci_columns" class="cc_contentGroup">
			<div id="ci_brushUpLife">ここにelement</div>
			<div id="ci_desirableTown">ここにelement</div>
		</div>
	</div>
</div>