<?php
//cssタグ挿入
	$this->start('custom-less');
	$less=array(
		'../less/custom/contents/top/top.less',
		'../less/custom/elements/top/gallery.less',
		'../less/custom/elements/top/information.less',
		'../less/custom/elements/top/column.less',
		'../plugin/woothemes-FlexSlider-ca347d4/flexslider.css'
	);
	echo $this->Less->link($less, array('minify'=>true, 'combine'=>true));
	$this->end();

	$this->start('custom-script');
	$script = array(
		'./js/self/contents/top/gallery.js',
		'./plugin/woothemes-FlexSlider-ca347d4/jquery.flexslider-min.js'
	);
	for ($i=0,$len=count($script); $i<$len; $i++) {
		echo '<script type="text/javascript" src="' . $script[$i] . '"></script>';
	}
	$this->end();
 ?>

<!-- #ci_entire>#ci_blockSpace>#ci_main.cc_contentGroup.clearfix>.cc_mapDiv.cc_4box(>.cc_map>.cc_prefName*4+.cc_prefLinks.clearfix>.cc_prefLink.tokyo+.cc_prefLink.chiba+.cc_prefLink.saitama+.cc_prefLink.kanagawa)+.cc_topVisuale.cc_4box^#ci_topBlockMenu.cc_contentGroup.clearfix>.cc_1box*4^#ci_info.cc_contentGroup.clearfix>.cc_infoLogoSpace>.cc_infoLogo^.cc_infoContents>.cc_infotext{このへんelement}^^#ci_recommend.cc_contentGroup>.cc_recTxt{おすすめ物件}+.cc_residence{ここにphp}^#ci_bottomBlockMenu.cc_contentGroup>.cc_1box*8^#ci_columns.cc_contentGroup>.cc_brushUpLife>.cc_columnTxt{ここにelement}^.cc_desirableTown>.cc_columnTxt{ここにelement} -->
<div id="ci_entire">
	<div id="ci_blockSpace">
		<div id="ci_main" class="cc_contentGroup clearfix">
			<div class="cc_mapDiv cc_4box">
				<div class="cc_map">
					<div class="cc_prefName"></div>
					<div class="cc_prefName"></div>
					<div class="cc_prefName"></div>
					<div class="cc_prefName"></div>
					<div class="cc_prefLinks clearfix">
						<div class="cc_prefLink tokyo"></div>
						<div class="cc_prefLink chiba"></div>
						<div class="cc_prefLink saitama"></div>
						<div class="cc_prefLink kanagawa"></div>
					</div>
				</div>
			</div>
			<!-- <div class="cc_topVisuale cc_4box"></div> -->
			<?php echo $this->element('top/gallery'); ?>
		</div>
		<div id="ci_topBlockMenu" class="cc_contentGroup clearfix">
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
			<div class="cc_1box"></div>
		</div>
		<?php echo $this->element('top/information'); ?>
		<div id="ci_recommend" class="cc_contentGroup">
			<div class="cc_recTxt">おすすめ物件</div>
			<div class="cc_residence">ここにphp</div>
		</div>
		<div id="ci_bottomBlockMenu" class="cc_contentGroup">

<?php
	$arr_controller	= array(
						0 => 'Index',
						1 => 'Area',
						2 => 'Area',
						3 => 'Area',
						4 => 'Area',
						5 => 'Area',
						6 => 'Area',
						7 => 'Area'
					);

	$arr_action		= array(
						0 => 'index',
						1 => 'Tokyo',
						2 => 'Chiba',
						3 => 'Saitama',
						4 => 'kanagawa',
						5 => 'Chiba',
						6 => 'Chiba',
						7 => 'Chiba'
					);

	$arr_cc_1box	= array(
						'controller'	=>	$arr_controller,
						'action'		=>	$arr_action
					);

	for ($i=0; $i<8; $i++): ?>
		<div class="cc_1box">
			<?php
				echo $this->Html->link('',array('controller' => $arr_cc_1box['controller'][$i], 'action' => $arr_cc_1box['action'][$i]));
			 ?>
		</div>
	<?php endfor; ?>

		</div>
		<div id="ci_columns" class="cc_contentGroup">
			<div class="cc_brushUpLife">
				<?php echo $this->element('top/column_brushUpLife'); ?>
			</div>
			<div class="cc_desirableTown">
				<?php echo $this->element('top/column_desirableTown'); ?>
			</div>
		</div>
	</div>
</div>

