<div class="cc_columnTxt">
	<ul>
		<li class="clearfix">
			<p class="number">vol.20</p>
			<p class="message"><a href="#">リラックスできる住まいづくり</a></p>
		</li>
		<li class="clearfix">
			<p class="number">vol.19</p>
			<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
		</li>
		<li class="clearfix">
			<p class="number">vol.18</p>
			<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
		</li>
		<li class="clearfix">
			<p class="number">vol.17</p>
			<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
		</li>
	</ul>
</div>