<div class="information">
	<div class="box">
		<ul>
			<li class="clearfix">
				<p class="icon">物件情報</p>
				<p class="date">2013.12.31</p>
				<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
			</li>
			<li class="clearfix">
				<p class="icon">物件情報</p>
				<p class="date">2013.12.31</p>
				<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
			</li>
			<li class="clearfix">
				<p class="icon">物件情報</p>
				<p class="date">2013.12.31</p>
				<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
			</li>
			<li class="clearfix">
				<p class="icon">物件情報</p>
				<p class="date">2013.12.31</p>
				<p class="message"><a href="#">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほあいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</a></p>
			</li>
		</ul>
	</div>
</div>