@charset "utf-8";


.menu {
	width: 180px;

	li {
		>a {
			display: block;
		}
	}

	>ul {
		margin: 0;
		padding: 0;

		>li {
			border-bottom: 1px solid #dedede;

			>a {
				height: 38px;
			}

			&.area {
				height: auto;

				>p {
					height: 38px;
					margin: 0;
					background: url(../img/elements/menu/menu_search.gif) no-repeat;
					text-indent: -9999px;
				}

				>ul {
					padding-left: 0;
					margin-left: 0;
					width: 100%;

					>li {
						&.tokyo {
							background: url(../img/elements/menu/menu_search_tokyo_def.gif) no-repeat;
							text-indent: -9999px;

							&:hover {
								background: url(../img/elements/menu/menu_search_tokyo_on.gif) no-repeat;
							}
						}
						&.kanagawa {
							background: url(../img/elements/menu/menu_search_kanagawa_def.gif) no-repeat;
							text-indent: -9999px;

							&:hover {
								background: url(../img/elements/menu/menu_search_kanagawa_on.gif) no-repeat;
							}
						}
						&.saitama {
							background: url(../img/elements/menu/menu_search_saitama_def.gif) no-repeat;
							text-indent: -9999px;

							&:hover {
								background: url(../img/elements/menu/menu_search_saitama_on.gif) no-repeat;
							}
						}
						&.chiba {
							background: url(../img/elements/menu/menu_search_chiba_def.gif) no-repeat;
							text-indent: -9999px;

							&:hover {
								background: url(../img/elements/menu/menu_search_chiba_on.gif) no-repeat;
							}
						}
						>a {
							height: 29px;
						}
					}
				}
			}

			&.recommend {
				background: url(../img/elements/menu/menu_recommendation.gif) no-repeat;
				text-indent: -9999px;

				&:hover {
					background: url(../img/elements/menu/menu_recommendation_on.gif) no-repeat;
				}
			}

			&.feelings {
				background: url(../img/elements/menu/menu_stickle.gif) no-repeat;
				text-indent: -9999px;

				&:hover {
					background: url(../img/elements/menu/menu_stickle_on.gif) no-repeat;
				}
			}

			&.brand {
				background: url(../img/elements/menu/menu_brand.gif) no-repeat;
				text-indent: -9999px;

				&:hover {
					background: url(../img/elements/menu/menu_brand_on.gif) no-repeat;
				}
			}

			&.blog {
				background: url(../img/elements/menu/menu_blog.gif) no-repeat;
				text-indent: -9999px;

				&:hover {
					background: url(../img/elements/menu/menu_blog_on.gif) no-repeat;
				}
			}

			&.regist {
				margin-top: 15px;
				background: url(../img/elements/menu/menu_enrollment.gif) no-repeat;
				text-indent: -9999px;

				&:hover {
					background: url(../img/elements/menu/menu_enrollment_on.gif) no-repeat;
				}
			}
		}
	}
}