@charset "utf-8";


.menu {
	width: 182px;

	li {
		>a {
			display: block;
		}
	}

	>ul {
		margin: 0;
		padding: 0;

		>li {
			border-bottom: 1px solid #dedede;

			>a {
				height: 38px;
			}

			&.area {
				height: auto;

				>p {
					height: 38px;
					margin: 0;
					background: url(../img/elements/menu/menu_search.gif) no-repeat;
					text-indent: -9999px;
				}

				>ul {
					padding-left: 0;

					>li {
						&.tokyo {
							background: url(../img/elements/menu/menu_search_tokyo_def.gif) no-repeat;
							text-indent: -9999px;
						}
						&.kanagawa {
							background: url(../img/elements/menu/menu_search_kanagawa_def.gif) no-repeat;
							text-indent: -9999px;
						}
						&.saitama {
							background: url(../img/elements/menu/menu_search_saitama_def.gif) no-repeat;
							text-indent: -9999px;
						}
						&.chiba {
							background: url(../img/elements/menu/menu_search_chiba_def.gif) no-repeat;
							text-indent: -9999px;
						}
						>a {
							height: 29px;
						}
					}
				}
			}

			&.recommend {
				background: url(../img/elements/menu/menu_recommendation.gif) no-repeat;
				text-indent: -9999px;
			}

			&.feelings {
				background: url(../img/elements/menu/menu_stickle.gif) no-repeat;
				text-indent: -9999px;
			}

			&.brand {
				background: url(../img/elements/menu/menu_brand.gif) no-repeat;
				text-indent: -9999px;
			}

			&.blog {
				background: url(../img/elements/menu/menu_blog.gif) no-repeat;
				text-indent: -9999px;
			}

			&.regist {
				margin-top: 15px;
				background: url(../img/elements/menu/menu_enrollment.gif) no-repeat;
				text-indent: -9999px;
			}
		}
	}
}