<div class="footer">
	<a href="#" class="for-top">トップに戻る</a>
	<div class="wrapper">
		<div class="info">
			<p><a href="#">日神不動産</a></p>
			<ul>
				<li>本　社／東京都新宿区新宿5丁目8番1号</li>
				<li>電　話／03-5360-2011</li>
				<li>横浜支店／横浜市中央区弁天通2丁目26番地2 日神横浜ビル</li>
				<li>電　話／045-222-2911</li>
			</ul>
			<i>©日神不動産　All Rights Reseved.</i>
		</div>
		<div class="menu1">
			<ul>
				<li class="area">
					<ul>
						<li class="tokyo"><a href="#">東京都</a></li>
						<li class="kanagawa"><a href="#">神奈川県</a></li>
						<li class="chiba"><a href="#">千葉県</a></li>
						<li class="saitama"><a href="#">埼玉県</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="menu2">
			<ul>
				<li class="recommend"><a href="#">おすすめ物件</a></li>
				<li class="feelings"><a href="#">日神不動産のこだわり</a></li>
				<li class="brand"><a href="#">マンションブランド</a></li>
			</ul>
		</div>
		<div class="menu3">
			<ul>
				<li class="blog"><a href="#">マンションブログ</a></li>
				<li class="regist"><a href="#">会員登録</a></li>
			</ul>
		</div>
	</div>
</div>