<div class="menu">
	<div class="floating-widget">
		<ul>
			<li class="area">
				<p>物件検索</p>
				<ul>
					<li class="tokyo"><?php echo $this->Html->link('東京都', array('controller'=>'area', 'action'=>'tokyo')); ?></li>
					<li class="kanagawa"><?php echo $this->Html->link('神奈川県', array('controller'=>'area', 'action'=>'kanagawa')); ?></li>
					<li class="saitama"><?php echo $this->Html->link('埼玉県', array('controller'=>'area', 'action'=>'saitama')); ?></li>
					<li class="chiba"><?php echo $this->Html->link('千葉県', array('controller'=>'area', 'action'=>'chiba')); ?></li>
				</ul>
			</li>
			<li class="all"><?php echo $this->Html->link('物件一覧', array('controller'=>'area', 'action'=>'all')); ?></li>
			<li class="blog"><a href="http://ns-blog.com" target="_blank">マンションブログ</a></li>
			<li class="company-info"><a href="#" target="_blank">会社情報</a></li>
			<li class="regist"><a href="palacestage_club/">会員登録</a></li>
		</ul>
	</div>
</div>