@charset "utf-8";


.cc_columnTxt {
	background: red;
	width: 280px;
	// margin-left: 16px;
	// padding: 25px;

	// margin: 0 0 0 125px;

	>ul {
		padding: 0;
		margin: 0;

		>li {
			// margin-bottom: 5px;

			>.number {
				float: left;
				// margin: 0 0 0 15px;
			}
			>.message {
				float: left;
				// margin: 0 0 0 15px;
				// width: 455px;
			}
		}
	}
}